REACT_APP_NETWORK=base
REACT_APP_CONTRACT_ADDRESSES=0xd8F38bCBEE43bE3bd31655a563f20c9B3e67142a,0xe8a385E473EA710c5a88Cc72681a16a26fe380e4
REACT_APP_CONTRACT_NAMES=Aggregator,Aggregator Base Sepolia Testnet
REACT_APP_CONTRACT_CLASSES=128,128
PORT=3001
REACT_APP_SERVER_URL=http://<ServerIPAddress>:5001
# Or, if using nginx for https, something like this: REACT_APP_SERVER_URL=https://playground.verdikta.org

