site_name: Verdikta Applications
site_description: Comprehensive guide for building applications with Verdikta
site_author: Verdikta Team
site_url: https://docs.verdikta.org

# Repository
repo_name: verdikta-applications
repo_url: https://github.com/verdikta/verdikta-applications
edit_uri: edit/main/docs/

# Configuration
theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  favicon: assets/favicon.png
  logo: assets/logo.png

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

# Customization
extra:
  annotate:
    json: [.s2]
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/verdikta
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/verdikta

# Custom CSS
extra_css:
  - assets/stylesheets/verdikta.css

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: verdikta
      repo: verdikta-applications
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md
  - Example Frontend:
    - example-frontend/index.md
    - Getting Started: example-frontend/getting-started.md
    - Architecture: example-frontend/architecture.md
    - API Integration: example-frontend/api-integration.md
    - Contract Management: example-frontend/contract-management.md
    - Query Definition: example-frontend/query-definition.md
    - Jury Selection: example-frontend/jury-selection.md
    - Run Query: example-frontend/run-query.md
    - Results: example-frontend/results.md
    - Deployment: example-frontend/deployment.md
    - Components:
      - example-frontend/components/index.md
    - Development:
      - example-frontend/development/index.md 